.err-container {
    padding-bottom: 25%;
    padding-top: 20%;
    margin: 0 20px 40px 20px;
}

.center-content {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .err-container {
        padding-top: 30%;
        padding-bottom: 70%;
        margin: auto;
    }
}
