#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

#customers td a:hover {
    color: rgb(65, 65, 238);
    cursor: pointer;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.search{
    width: 100%;
    margin-bottom: 5px;
}

.wrap-search{
    float: right;
    width: 250px;
}
.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search button:hover {
    background: #0b7dda;
}

.search::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 768px) {
    .wrap-search{
        margin: 10px;
        width: 93%;
    }
}