/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .modal-content {
        margin: 40px;
        padding: 20px;
        width: 80%;
    }
}